<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="Scripts/jquery-1.6.4.min.js"></script>
    <script src="Scripts/jquery.signalR-2.0.3.min.js"></script>
    <script src="signalr/hubs"></script>
    <!--Add script to update the page and send messages.-->

    <script src="/Content/js/maze.js"></script>
    <link href="/Content/css/async-robot.min.css" />
</head>
<body>
   
        @RenderBody()
        
</body>
</html>