#maze
	width 100%
	
	.line
		width 100%
		float left

	.mazeObject
		cursor: pointer

	.wall
		width 10px
		height 10px
		float left
		background-color rgba(0,150,0,1)
		box-shadow 2px 2px 3px 1px rgba(50,50,50,1)

	.space
		width 10px
		height 10px
		float left