#maze
    width: 100%
    background-color: red

    .line
        width:100%
        background-color:yellow
        float:left    

    .wall
        width:10px
        height:10px
        background-color: green;
        float: left

    .space
        width:10px
        height: 10px
        background-color: white
        float:left