
/* line 19 : C:\Users\wagner\Documents\GitHub\csharp-asynchronous\AsyncRobot.Web\Content\css\main.styl */

/* line 1 : C:\Users\wagner\Documents\GitHub\csharp-asynchronous\AsyncRobot.Web\node_modules\grunt-contrib-stylus\node_modules\stylus\lib\functions\index.styl */

/* line 1 : C:\Users\wagner\Documents\GitHub\csharp-asynchronous\AsyncRobot.Web\Content\css\main.styl */
#maze {
  width: 100%;
}

/* line 4 : C:\Users\wagner\Documents\GitHub\csharp-asynchronous\AsyncRobot.Web\Content\css\main.styl */
#maze .line {
  width: 100%;
  float: left;
}

/* line 8 : C:\Users\wagner\Documents\GitHub\csharp-asynchronous\AsyncRobot.Web\Content\css\main.styl */
#maze .wall {
  width: 10px;
  height: 10px;
  float: left;
  background-color: #009600;
  box-shadow: 2px 2px 3px 1px #000;
}

/* line 15 : C:\Users\wagner\Documents\GitHub\csharp-asynchronous\AsyncRobot.Web\Content\css\main.styl */
#maze .space {
  width: 10px;
  height: 10px;
  float: left;
}
