@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>

<input type='number' id='txtMazeRobotCount' value='1' placeholder='robot quantity' class='input-small' />

<button type='button' id='btnMazeRun' class='btn btn-primary' onclick="run();">Run!</button> 
<button type='button' id='btnMazeRun2' class='btn btn-primary' onclick="runAsync();">Run Async!</button> 
<button type='button' id='btnMazeRun2' class='btn btn-primary' onclick="runThread(2);">Run by 2 Threads!</button> 
<button type='button' id='btnMazeRun2' class='btn btn-primary' onclick="runThread(4);">Run by 4 Threads!</button> 
<button type='button' id='btnMazeRun2' class='btn btn-primary' onclick="runThread(8);">Run by 8 Threads!</button> 
<button type='button' id='btnMazeRun2' class='btn btn-primary' onclick="runThread(16);">Run by 16 Threads!</button> 

<div id="time">
    
</div>

<section id='maze'></section>