
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form>
    <legend>Run robots</legend>
    <label class="control-label" for="txtMazeRobotCount" class="input-small">Robot quantity</label>
    <input type="number" id="txtMazeRobotCount" value="1" placeholder="robot quantity" class="input-small" />
    <button type="button" id="btnMazeSetRobot" class="btn btn-primary">Set Robots</button>
    <button type="button" id="btnMazeRun" class="btn btn-primary">Run!</button>
</form>


    <form class="form-horizontal">
        <legend>Create new maze</legend>
        <div class="controls controls-row">
            <label class="control-label" for="txtMazeWidth" class="input-small">Width</label>
            <label class="control-label" for="txtMazeHeight" class="input-small">Height</label>
        </div>
        <div class="controls controls-row">
            <input type="number" id="txtMazeWidth" value="5" placeholder="maze width" class="input-small" />
            <input type="number" id="txtMazeHeight" value="10" placeholder="maze height" class="input-small" />
            <button type="button" id="btnMazeMount" class="btn btn-primary">Create maze</button>
        </div>
        <button type="button" id="btnMazeImport" class="btn btn-primary">Import maze</button>
        <button type="button" id="btnMazeExport" class="btn btn-primary">Export maze</button>
        <button type="button" id="btnRun" class="btn btn-primary">Go Robots!</button>
    </form>


<section id="maze"></section>

<!--
    <textarea id="txtMazeJson"></textarea>
-->