
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<fieldset>
    <legend>Maze size</legend>
    <label>Width</label>
    <input type="number" id="txtMazeHeight" value="10"/>
    <label>Width</label>
    <input type="number" id="txtMazeWidth" value="5"/>
    <button id="btnMazeMount">Mount!</button>
</fieldset>

<section id="maze"></section>

<button id="btnMazeExport">Export!</button>
<button id="btnMazeImport">Import!</button>

<button id="btnTask">Task!</button>

<textarea id="txtMazeJson"></textarea>