
/* line 29 : C:\Users\wagner\Documents\GitHub\csharp-asynchronous\AsyncRobot.Web\Content\css\main.styl */

/* line 1 : C:\Users\wagner\Documents\GitHub\csharp-asynchronous\AsyncRobot.Web\node_modules\grunt-contrib-stylus\node_modules\stylus\lib\functions\index.styl */

/* line 1 : C:\Users\wagner\Documents\GitHub\csharp-asynchronous\AsyncRobot.Web\Content\css\main.styl */
#maze {
  width: 100%;
  float: left;
  position: relative;
}

/* line 5 : C:\Users\wagner\Documents\GitHub\csharp-asynchronous\AsyncRobot.Web\Content\css\main.styl */
#maze .line {
  width: 100%;
  float: left;
}

/* line 9 : C:\Users\wagner\Documents\GitHub\csharp-asynchronous\AsyncRobot.Web\Content\css\main.styl */
#maze .mazeObject {
  cursor: pointer;
}

/* line 12 : C:\Users\wagner\Documents\GitHub\csharp-asynchronous\AsyncRobot.Web\Content\css\main.styl */
#maze .wall {
  width: 5%;
  padding: 2.5%;
  float: left;
  background-color: #009600;
  box-shadow: 2px 2px 3px 1px #323232;
}

/* line 19 : C:\Users\wagner\Documents\GitHub\csharp-asynchronous\AsyncRobot.Web\Content\css\main.styl */
#maze .space {
  width: 5%;
  padding: 2.5%;
  float: left;
}

/* line 24 : C:\Users\wagner\Documents\GitHub\csharp-asynchronous\AsyncRobot.Web\Content\css\main.styl */
#maze .robot {
  width: 5%;
  padding: 2.5%;
  background-color: #f00;
  position: absolute;
}
